@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}
.card {
  margin: auto;
  background-color: white;
  padding: 20px;
  height: 400px;
  border-radius: 5px;
  border: 2px solid black;
  display: center;
  width: 250px;
  text-align: center;
  position: relative;
  line-height: 80px;
}
.top {
  position: absolute;
  top: 1px;
  left: 10px;
  font-size: 80px;
}
.center {
  font-size: 80px;
  text-align: center;
  padding-top: 120px;
}
.bottom {
  position: absolute;
  bottom: 1px;
  right: 10px;
  font-size: 80px;
}
button {
  align-items: center;
  font-size: 20px;
  border-radius: 10px;
  color: red;
  border-bottom: 10px;
  background-color: black;
  user-select: none;
  cursor: pointer;
}
